transformers>=4.47.1
redis>=5.0.0
python-dotenv>=1.0.0
celery==5.3.4
stopit
ruff
pydantic-settings==2.8.1
litellm==1.55.6
pytest-asyncio
tree_sitter
textgrad>=0.1.8
motor>=3.7.0
networkx>=3.3
scipy
datasets>=3.4.0
tree_sitter_python
jwt==1.3.1
openai>=1.55.3
nltk>=3.9.1
pandas==2.2.3
python-multipart==0.0.6
antlr4-python3-runtime>=4.11
python-jose>=3.3.0
matplotlib==3.10.0
sympy
pydantic>=2.9.0,<=2.10.6
pytest-subtests
pytest-mock
pytest
uvicorn==0.34.0
setuptools
sqlalchemy==2.0.38
pytest-cov
faiss-cpu==1.8.0.post1
loguru>=0.7.3
pytest-json-report
httpx>=0.24.1
numpy>=1.26.4
asgi-lifespan>=1.0.1
passlib>=1.7.4
pydantic_core>=2.23.2,<=2.27.2
bcrypt>=4.0.1
fastapi>=0.115.11
tenacity
